:root{
  --heading-color:#242463 ; /*For Headings*/
  --background-color: #faaf40; /*For backgrounds*/
  --text-color: #ee4036; /*For texts*/
  --extra-color:#69678b ; /*Extra*/
  --white: #FFFFFF; 
 }

 .container{
  display: grid;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
 }