:root{
  --heading-color:#242463 ; /*For Headings*/
  --background-color: #faaf40; /*For backgrounds*/
  --text-color: #ee4036; /*For texts*/
  --extra-color:#69678b ; /*Extra*/
  --white: #FFFFFF; 
 }

 .btn {
  color: var(--text-color);
  border-color: var(--background-color) !important;
}

.btn:hover {
  color: var(--text-color);
background-color: var(--background-color);
}

 .fa-star{
  color: var(--heading-color);
 }

 audio{
  width: 100%;
 }



 hr {
  overflow: visible; /* For IE */
  width: 800px;
  padding-top: 2px;
  border-radius: 50%;
  background-color: var(--heading-color);
  text-align: center;
}

.card-comment, textarea{
  margin-top: auto;
  border: 0.5px solid var(--heading-color) !important;
}




